git:
  depth: 3
branches:
  except:
  - docs
language: node_js
node_js:
  - "node"
script:
  - cd demo && npm install && cd -
  - npm run lint
  - npm run build
  - npm test
after_success:
  - npm run coveralls
